import { AppConfig } from "../types/appConfig.js";


const CONFIGURED_APPS: Array<AppConfig> = [
    {
        appUUID: "SET_YOUR_OWN",
        appName: "Persistence Wallet",
        repoOwner: "persistenceOne",
        repoName: "persistenceWallet",
        transformedURL: "SET_YOUR_OWN_TRANSFORMED_URL",
        cloudflareRuleExpression: 'starts_with(http.request.full_uri, "SET_YOUR_OWN_TRANSFORMED_URL")',
        cloudflareZoneId: "SET_YOUR_OWN",
        cloudflareRulesetId: "SET_YOUR_OWN",
        cloudflareRuleId: "SET_YOUR_OWN"
    },
    {
        appUUID: "SET_YOUR_OWN",
        appName: "pStake",
        repoOwner: "persistenceOne",
        repoName: "pstake-frontend-releases",
        transformedURL: "SET_YOUR_OWN_TRANSFORMED_URL",
        cloudflareRuleExpression: 'starts_with(http.request.full_uri, "SET_YOUR_OWN_TRANSFORMED_URL")',
        cloudflareZoneId: "SET_YOUR_OWN",
        cloudflareRulesetId: "SET_YOUR_OWN",
        cloudflareRuleId: "SET_YOUR_OWN"
    },
    {
        appUUID: "SET_YOUR_OWN",
        appName: "Dexter",
        repoOwner: "dexter-zone",
        repoName: "dexter-frontend-releases",
        transformedURL: "SET_YOUR_OWN_TRANSFORMED_URL",
        cloudflareRuleExpression: 'starts_with(http.request.full_uri, "SET_YOUR_OWN_TRANSFORMED_URL")',
        cloudflareZoneId: "SET_YOUR_OWN",
        cloudflareRulesetId: "SET_YOUR_OWN",
        cloudflareRuleId: "SET_YOUR_OWN"
    },
];

export { CONFIGURED_APPS };